#barraAbajo {
  background-color: red;
}

#BarraArriba {
  background-color: #ea0504;
}

#contenedorCartas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

#cartasPaises {
  width: 14em;
  height: 22em;
}

#cartasPaises {
  width: 14em;
  height: 22em;
}

#redes {
  width: 15%;
  display: flex;
  justify-content: space-around;
}
