#barraAbajo {
  background-color: red;
  margin-bottom: 0% !important;
}

#BarraArriba {
  background-color: #ea0504;
  margin-bottom: 0% !important;
}

#contenedorCartas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

#cartasPaises {
  width: 14em;
  height: 22em;
}

#cartasPaises {
  width: 14em;
  height: 22em;
}

#redes {
  width: 15%;
  display: flex;
  justify-content: space-around;
}

.detalles {
  margin-top: 0%;
  height: 100%;
}

.pagDetalles {
  margin-top: 0%;
  height: 150vh;
}

.imagenPerdida {
  height: 30rem;
  width: 15rem;
}

#cartasPaises3 {
  display: flex;
  justify-content: space-around;
}

h4 {
  background-color: cornsilk;
  color: #ea0504;
}
