#barraAbajo {
  background-color: red;
}

#BarraArriba {
  background-color: #ea0504;
}

#contenedorCartas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

#cartasPaises {
  width: 12em;
  height: 18em;
}
